<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | POS</title>
  <link rel="stylesheet" href="/assets/style.css?v=2">
</head>
<body>

<header class="pos-header">
  <div class="pos-header-inner">
    <nav class="pos-nav">
      <a href="/pos-doctrine/">Home</a>
      <a href="/pos-doctrine/whitepaper/">White Paper</a>
      <a href="/pos-doctrine/architecture/">Architecture</a>
      <a href="/pos-doctrine/constitution/">Constitution</a>
       <a href="/pos-doctrine/modules/">Modules</a>
    </nav>
  </div>
</header>


<div class="pos-container">
  {{ content }}
</div>

</body>
</html>
 
